@charset "utf-8";
/* CSS Document */
html {
	box-sizing: border-box;
	color: #333333;
}
body {
	/*line-height: 1.5;*/
	letter-spacing: 0.05em;
	font-family: "BIZ UDPGothic";
}
a {
	text-decoration: none;
}

a:link {
	color:#0000ff;
}
a:visited {
	color:#00ccff;
} 
a:hover {
	color:#ffffff;
	background:#0000cc;
}
a:active {
	color:#ffff00;
} 

#header {
	box-sizing: border-box;
	height: 43px;
	width: 375px;
	margin: 0 auto;
	background-color: #fcfcfc;
	padding: 6px 15px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
#header h1 {
	font-size: 30px;
	line-height: 30px;
}
#header nav ul li{
	line-height: 31px
}
.mainimage {
	box-sizing: border-box;
	width: 375px;
	height: 195px;
	margin: 0 -15px;
}
#main {
	box-sizing: border-box;
	width: 375px;
	margin: 0 auto;
	background-color: #fcfcfc;
	padding: 0px 15px;
}
.section-news {
	padding: 60px 0;
}
.section-news h2{
	font-size: 24px;
	text-align: center;
	margin-bottom: 21.5px; /*25-3.5px*/
}
h2{
	font-size: 24px;
	text-align: center;
	margin-bottom: 25px;
}
h2 span{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	display: block;
	margin-top: 5px;
}
.section-news dl dt{
	font-size: 14px;
	margin-bottom: 6.5px; /*10-3.5px*/
}
.section-news dl dd{
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 16.5px; /*20-3.5px*/
}
.section-news dl dd:last-child{
	font-size: 14px;
	/*line-height: 1.5;*/
	margin-bottom: -3.5px; /*0-3.5px*/
}
.readmore{
	width: 230px;
	height: 38px;
	margin: 0 auto;
	border: solid #333333 1px;
	text-align: center;
	margin-top: 15px;
}
.readmore a{
	font-size: 14px;
	display: inline-block;
	line-height: 38px;
	width: 230px;
	height: 38px;
}
.readmore a:link {
	color:#0000ff;
}
.readmore a:hover {
	color:#ffffff;
	background:#0000cc;
}
.readmore a:active {
	color:#ffff00;
} 
.section-service,.section-about{
	padding-bottom: 60px;
}

.section-service h3 {
	margin-bottom: 11.5px; /*15-3.5px*/
}

.section-service li{
	display: flex;
	margin-bottom: 25px;
}
.section-service li:last-child{
	display: flex;
	margin-bottom: 0px;
}
.section-service li:nth-child(odd) div{
	margin-left:10px;
	order:1;
}
.section-service li:nth-child(even) figure{
	margin-left:10px;
	order:2;
}
.section-service__item-description {
	font-size: 14px;
	line-height: 1.5;
}
.section-service img{
	width: 150px;
	height: 150px;
}


.section-about table{
	font-size: 14px;
	width: 100%;
	text-align: left;
}
.section-about table,.section-about td,.section-about th {
    border-collapse: collapse;
    border:1px solid #333;
}
.section-about td,.section-about th{
	padding: 3px;
	line-height: 1.5;
}
#footer {
	box-sizing: border-box;
	width: 375px;
	height:76px;
	margin: 0 auto;
	padding: 10px 15px;
	background: #e8e8e8;
	text-align: center;
}
#footer div {
	height: 35px;
}
#footer h2 {
	font-size:30px;
	line-height: 35px;
}
#footer div {
	display: flex;
	justify-content: space-between;
}
#footer .pagetop {
	display: inline-block;
	line-height: 35px;
}
